.adv-desc {
  margin-top: 60px;
}

.adv-desc .container {
  border: 1px solid #ccc;
  height: auto;
  padding-bottom: 0px;
  top: 100px;
}

.adv-desc .desc {
  padding-bottom: 0px;
  position: relative;
}

.adv-desc .project-image {
  align-self: center;
  margin-bottom: 40px;
  text-align: center;
}

.adv-desc h1 {
  margin-bottom: 35px;
  text-align: center;
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.comment {
  margin-bottom: 20px;
}

.content {
  background-color: white;
  color: black;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.content * {
  background-color: white;
  color: black;
}

.desc {
  ms-transform: translateY(-50%);
  padding-bottom: 15px;
  padding-top: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.details {
  border: 1px dotted black;
  bottom: 0px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
}

.form-container {
  margin-top: 35px;
  margin-bottom: 35px;
}

.project {
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.project .col {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project a {
  text-decoration: none;
}

.project:hover {
  box-shadow: 0px 9px 24px rgba(0,0,0,0.3);
  transition: all 150ms ease-in-out;
  webkit-transition: all 150ms ease-in-out;
}

.project:hover .arrow {
  display: inline-block;
  transform: translateX(15px);
  transition: all 150ms ease-in-out;
}

.project:hover .details {
  padding-right: 25px;
  transition: all 150ms ease-in-out;
}

.project:hover .tint {
  animation: fadeInFromNone 0.5s ease-out;
  opacity: 0.3;
  webkit-animation: fadeInFromNone 0.5s ease-out;
}

.project-image {
  align-self: center;
  text-align: center;
}

.project-image img {
  max-width: 50%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.tags {
  color: #A9AAAB;
}

.tint {
  background-color: #ADD8E6;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

#newComment {
     height: auto;
     min-height: 100px;
}

@-webkit-keyframes completeFadeIn {
  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }

}

@-webkit-keyframes partialFadeIn {
  0% {
  opacity: 0;
  }

  100% {
  opacity: 0.3;
  }

}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: black;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

footer ul li {
  display: inline-block;
  height: 100px;
  list-style: none;
  margin: 20px;
  width: 80px;
}

footer ul li div {
  background-color: white;
  font-size: 3.4em;
  height: 80px;
  line-height: 80px;
  text-align: center;
  transition: all 0.5s ease;
  width: 80px;
}

footer ul li div a {
  color: black;
}

footer ul li div:hover {
  border-radius: 100px;
}

html * {
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: black;
}

nav * {
  color: white;
}

nav .navbar-brand {
  font-size: xx-large;
}
