.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-family: "Inter var", sans-serif;
}

#greeting-container {
  margin-top: 20px;
}

nav .navbar-brand {
  font-size: xx-large;
}

nav .navbar-brand .blue {
    color: #537fbe;
}
